{% extends 'layout.html' %}
{% block body %}
  <h2>Save your Activities</h2>
  {% if error %}<div class="error">{{ error }}</div>{% endif %}
  <form action="" method="post">
    <p>Enter the Project Name</p>
    <p><input type="text" name="project" id="project" value="{{ url|e }}"></p>
    <p>Enter the number of Pomodoro done</p>
    <p><input type="text" name="p_done" id="p_done" size=1></p>
    <p>Enter the Date when the Activity was done <br> dd.mm.yyyy</p>
    <p><input type="text" name="date" id="date" size=5></p>
    <p>Give a short description of the Activity</p>
    <textarea name="desc" rows="3" cols="25"></textarea>
    <p>Optionally you can add a Tag</p>
    <p><input type="text" id="tag" name="tag">{#
     #}<input type="submit" id="submit" value="Enter!"></p>
  </form>
{% endblock %}
